{% trans_default_domain 'admin' %}

{% set subactive = "admin_user_group_list" %}

{% extends 'PuzzleAdminUserBundle::layout_table.html.twig' %}

{% block title %}{{ parent() }} - {{ "user.content.group.list"|trans }} {% endblock %}

{% block mainsubtitle %} - {{ "user.navigation.group"|trans|capitalize }}{% endblock %}

{% block headingelements %}
    <a href="{{ url('admin_user_group_create') }}" class="btn btn-primary btn-labeled show-modal">
        <b><i class="icon-add"></i></b>
        {{ "user.content.group.create"|trans }}
    </a>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li class="active">{{ "user.content.group.list"|trans|capitalize }}</li>
        </ul>
        <ul class="breadcrumb-elements">
            <li>
                <a href="#" class="text-danger delete-list toggle-action hide">
                    <i class="icon-trash-alt"></i> {{ "button.delete_list"|trans }}
                </a>
                <input type="hidden" value="admin_user_group_delete" id="delete-route-name"/>
            </li>
        </ul>
</div>
{% endblock %}

{% block mainpage %}
    <div class="col-lg-12">
        <div class="panel panel-flat">
            <table class="table datatable">
                <thead>
                    <tr>
                        <th>
                            {% if groups is not empty %}
                                <a href="#" id="toggle-check">
                                    <i class="icon-checkbox-unchecked toggle-icon"  id="toggle-check-icon"></i>
                            </a>
                                <input type="hidden" value="{{ groups|length|default('0') }}" id="toggle-items-count">
                                <input type="hidden" value="0" id="toggle-items-checked-count">
                            {% endif %}
                        </th>
                        <th>{{ "user.label.group.name"|trans }}</th>
                        <th class="text-center">{{ "user.label.group.users"|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr class="toggleable" id="item-{{ group.id }}">
                            <td>
                                <a class="text-muted text-small text-left toggleable-btn-select" href="#">
                                    <i class="icon-checkbox-unchecked toggle-icon toggle-item" id="toggle-item-{{ group.id }}"></i>
                                </a>
                            </td>
                            <td>{{ group.name }}</td>
                            <td class="text-center">{{ group.users|length }}</td>
                            <td class="text-right">
                                <div class="btn-control">
                                    <span class="icons-list toggleable-btn hide toggleable-btn-controls">
                                        <a href="{{ url('admin_user_group_show', { 'id': group.id }) }}" title="{{ "button.show"|trans }}" class="mr-10">
                                            <i class="icon-users"></i> 
                                        </a>
                                        <a href="{{ url('admin_user_group_update', { 'id': group.id }) }}" title="{{ "button.update"|trans }}" class="mr-10 show-modal">
                                            <i class="icon-pencil"></i> 
                                        </a>
                                        <a href="{{ url('admin_user_group_delete', {'id': group.id}) }}" data-toggle="modal" title="{{ "button.delete"|trans }}" class="delete-item" id="delete-item-{{ group.id }}">
                                            <i class="icon-trash-alt text-danger"></i>
                                        </a>
                                        <input type="hidden" id="label-delete-item-{{ group.id }}" value="{{ group.name }}">
                                    </span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
